.top_nav{
background-color: var(--bs-gray-200);
}

[class^="icon-"]{
    color:var(--bs-gray-dark);
    margin-right:1.5rem;
    font-size: 0.8rem;
    padding:0.8rem 0;
    font-weight: 400;
    transition: all 0.4s ease;
    line-height: 1.2rem;;
}
[class^="icon-"]:hover{
   color:var( --bs-teal)
}